.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--background-color);
}

.container {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

.nav__logo,
.nav__toggle {
    color: var(--text-color);
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.logoName {
    color: var(--btn-color);
}

/* .nav__menu {
    display: flex;
    flex-direction: row;
} */

.nav__list {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: var(--text-color);
    border-radius: 0.5rem;
    padding: 0.25rem 0.75rem;
    /* font-weight: 500; */
    transition: .3s;
    /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); */
    transition:  200ms ease-in-out, transform 200ms ease-in-out;
}

.menu {
    width: 35px;
    height: 35px;
}

.nav__close {
    width: 35px;
    height: 35px;
}

.nav__icon,
.nav__close,
.nav__toggle {
    display: none;
}

/* Active Link */

.active-link,
.nav__link:hover {
    background-color: var(--btn-color);
    color: var(--background-color);
    font-weight: 600;
    letter-spacing: 5px;
    transform: scale(1.1);
}

.nav__link:active {
    transform: translateY(2px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

/* Change Background Header */

.scroll-header {
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

/*=============== BREAKPOINTS ===============*/

/* For medium devices */
@media  screen and (max-width: 800px)  {
    .header {
        top: initial;
        bottom: 0;
    }

    .container {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .nav {
        height: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;
    }

    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--background-color);
        padding: 2rem 0.15rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }

    /* Show Menu */
    .show-menu {
        bottom: 0;
    }

    .nav__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .nav_icon {
        font-size: 1.2rem;
    }

    .nav__close {
        position: absolute;
        right: 1.3rem;
        bottom: 0.5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--text-color);
    }

    .nav__close:hover {
        color: var(--text-color);
    }

    .nav__toggle {
        font-size: 1.1rem;
        cursor: pointer;
    }

    .nav__icon,
    .nav__close,
    .nav__toggle {
        display: block;
    }
}


/* For small devices */
@media screen and (max-width: 350px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .nav__menu {
        padding: 2rem 0.25rem 4rem;
    }

    .nav__list {
        column-gap: 0;
    }
}